<h1>Edytuj pracownika</h1>

<% if @employee.errors.any? %>
    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= form_for @employee, url: {action: "update"} do |f| %>

    <div class="form-group">
      <%= f.label :first_name, 'Imię' %>
      <%= f.text_field :first_name, :class => 'form-control', :requied => 'requied' %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, 'Nazwisko' %>
      <%= f.text_field :last_name, :class => 'form-control', :requied => 'requied' %>
    </div>

    <div class="form-group">
      <%= f.label :email, 'Adres email' %>
      <%= f.email_field :email, :class => 'form-control', :requied => 'requied' %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, 'Numer telefonu' %>
      <%= f.phone_field :phone_number, :class => 'form-control', :requied => 'requied' %>
    </div>

    <div class="form-group">
      <%= f.label :desc, 'Opis' %>
      <%= f.text_area :desc, :class => 'form-control' %>
    </div>

    <%= submit_tag 'Wyślij', :class => 'btn btn-default' %>



<% end %>
