<h1>Pracownicy<%= link_to 'Dodaj nowego pracownika', admin_employees_new_path, class: 'btn btn-primary pull-right' %></h1>


<div class="clearfix"></div>

<% if @employees.blank? %>
    Brak pracowników !
<% end %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>
        Imię
      </th>
      <th>
        Nazwisko
      </th>
      <th>
        Opis
      </th>
      <th>
        Akcja
      </th>
    </tr>
  </thead>
  <tbody>
  <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.desc %></td>
        <td>
          <%= link_to 'Edytuj', admin_employee_edit_path(employee) %>
          <%= link_to 'Usuń', admin_employee_remove_path(employee) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>