<table class="table table-striped table-hover">
  <tr>
    <th width="350px">Imię</th>
    <td><%= @employee.first_name %></td>
  </tr>
  <tr>
    <th>Nazwisko</th>
    <td><%= @employee.last_name %></td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><%= @employee.email %></td>
  </tr>
  <tr>
    <th>Administrator</th>
    <td>
      <% if @employee.is_admin %>
      Tak
      <% else %>
      Nie
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Opis</th>
    <td><%= @employee.desc %></td>
  </tr>
  <tr>
    <th>Usługi</th>
    <td>
      <% if @services.blank? %>
        Ten pracownik nie oferuje żadnych usług
      <% else %>
        <% @services.each do |s| %>
            <%= s.name %> <br />
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<h1>Opinie</h1>

<% if @visits.blank? %>
    Ten pracownik nie posiady komentarzy
<% else %>
  <%  @visits.each  do |s| %>
    <% @service_visits = s.service_visits.first %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>
          <% @client = s.client %>
          <%= @client.first_name %>
          <%= @client.last_name %>
          <span class="pull-right">Nazwa Usługi: <%= s.services.first.name %></span>
        </th>
        <th width="110px">
          Ocena [ 1..5 ]
        </th>
        <th>
          Status
        </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Data wizyty: <%= s.start_time %></br>
            <%= @service_visits.client_opinion_comment %></br>
            Wystawiono: <%= @service_visits.client_opinion_added %>
          </td>
          <td>
            <% @service_visits.client_opinion_rating.times do %>
             <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            <% end %>
          </td>
          <td width="150px">
            <% if s.status %>
              <%= 'Zakonczona' %>
            <% else %>
              <%= 'Rezerwacja' %>
            <% end %>
          </td>
      </tr>
      </tbody>
    </table>
   <% end %>
<% end %>