<h3>Pracownicy</h3>

<% if @employees.blank? %>
  Brak pracowników !
<% else %>
  <% @employees.each do |e| %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <th width="200px">
          <%= e.first_name %>
        </th>
        <th width="200px">
          <%= e.last_name %>
        </th>
        <th>
          <% if e.services.blank? %>
            Brak
          <% else %>
            <% e.services.each do |s| %>
              <%= '"' + s.name + '"' %>
            <% end %>
          <% end %>
        </th>
        <th width="220px">
          <%= link_to 'Dodaj usługę', admin_employees_services_show_new_path(e) %> |
          <%= link_to 'Usuń usługę', admin_employees_services_show_remove_path(e) %>
        </th>
      </thead>
      <tbody>

      </tbody>
    </table>
  <% end %>
<% end %>