<h1>Wizyty</h1>

<div id="calendar"></div>
<script type="text/javascript">
  $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      lang: 'pl',
      events: [
          <%= @events.html_safe %>
      ]
    });

  });
</script>

<%= form_tag(admin_visits_index_path, :method => 'get') do %>
    <table class="table">
      <tr>
        <th colspan="3">Data
        <th>Status</th>
        <th rowspan="2" class="text-center" style="vertical-align: middle"><%= submit_tag('Filtruj', :class => 'btn btn-primary') %></th>
      </tr>
      <tr>
        <td><%= text_field_tag(:from, @from, :class => 'form-control datepicker') %></td>
        <td class="text-center" style="vertical-align: middle">-</td>
        <td><%= text_field_tag(:to, @to, :class => 'form-control datepicker') %></td>
        <td>
          <%= select_tag(:status, options_for_select([['wszystkie', 'all'], ['odbyte', 't'], ['zarezerwowane', 'f']],@select),:class => 'form-control') %>
        </td>
      </tr>
    </table>
<% end %>

<% if @visits.any? %>

    <table class="table table-bordered table-hover table-striped">
      <tr>
        <th>Klient</th>
        <th>Data wizyty</th>
        <th>Cena [ zł ]</th>
        <th>Rabat [ % ]</th>
        <th>Status</th>
        <th>Komentarz</th>
        <th>Akcja</th>
      </tr>
      <% @visits.each do |v| %>
          <tr>
            <!-- todo link do pokazania klienta -->
            <td><%= v.client.first_name+' '+v.client.last_name %></td>
            <td><%= v.start_time.strftime("%d.%m.%Y %H:%M") %></td>
            <td><%= v.price %></td>
            <td><%= v.discount %></td>
            <td><% if v.status %>odbyta<% else %>rezerwacja<% end%></td>
            <td><%= v.comments %></td>
            <td><%= link_to 'Szczegóły',admin_visit_show_path(v) %></td>
          </tr>
      <% end %>
    </table>

<% else %>
    Brak wizyt, spróbuj zmienić filtry
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      language: 'pl'
    });
  });
</script>