<h1>Dodaj usługe</h1>

<%= form_for @services, url: {action: "create"} do |f| %>

    <% if @services.errors.any? %>
        <ul>
          <% @services.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="form-group">
      <%= f.label :name, 'Nazwa' %>
      <%= f.text_field :name, :class => 'form-control', :requied => 'requied',autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :description, 'Opis' %>
      <%= f.text_field :description, :class => 'form-control', :requied => 'requied' %>
    </div>

    <div class="form-group">
      <%= f.label :price, 'Cena' %>
      <%= f.number_field :price, :class => 'form-control', :requied => 'requied' %>
    </div>

    <div class="form-group">
      <%= f.label :duration, 'Czas[min]' %>
      <%= f.number_field :duration, :class => 'form-control', :requied => 'requied' %>
    </div>

    <%= submit_tag 'Wyślij', :class => 'btn btn-default' %>
<% end %>
