<div id="reservation-container">
<h1>Rezerwacja wizyty</h1>
<%= form_tag do %>
  <%= label_tag(:name, "Usługa") %>
  <%= collection_select(:name, :id, Service.all, :id, :name, {}, { :multiple => false}) %>
  <%= label_tag(:date, "Data") %>
  <%= text_field_tag(:date, "", class: "validate[required,custom[date]]", :required=>true) %>
  <%= label_tag(:time, "Czas") %>
  <%= text_field_tag(:time, "", class: "validate[required]", :required=>true) %>
  <%= label_tag(:phone, "Nr Telefonu") %>
  <%= text_field_tag(:phone, "", class: "validate[required]", :required=>true) %>
  <%= label_tag(:email, "Adres email") %>
  <%= text_field_tag(:email, "", class: "validate[required,custom[email]]", :required=>true) %>

  <%= submit_tag("Zapisz") %>
<% end %>
</div>
